<div class="md-col-12 bg-white">
    <div class="main-dang-nhap-dang-ki"> 
         <!-- frm Đăng nhập -->
  <div class="group-dang-nhap ">
    <div class="main">
        <form class="form" action="" method="post" id="form-1">
            <div class="form-header">
                <h1 class="form-header__title">Đăng nhập</h1>
            </div>
           
            <div class="form-group">
                <label class="form-group__label" for="email">Email</label>
                <input name="email" type="email" class="form-group__control" autocomplete="new-password" placeholder="Nhập Email" id="email" [(ngModel)]="emailLogin">
                <span class="form-gourp__mesage"></span>
            </div>

            <div class="form-group">
                <label class="form-group__label" for="pass">Mật khẩu</label>
                <input name="password" type="password" class="form-group__control" autocomplete="new-password" placeholder="Nhập mật khẩu" id="pass" [(ngModel)]="passLogin">
                <span class="form-gourp__mesage"></span>
            </div>

            <button class="form-submit" (click)="submitDangNhap(emailLogin, passLogin)">Đăng nhập</button>
        </form>
    </div>
    
  </div>
    <!-- end frm Đăng nhập -->

    <!-- frm Đăng ký -->
  <div class="group-dang-ky">
    <div class="main">
        <form class="form" action="" method="post" id="form-1">
            <div class="form-header">
                <h1 class="form-header__title">Đăng kí</h1>
            </div>
            <div class="form-group">
                <label class="form-group__label" for="name">Họ và tên</label>
                <div class="test">
                    <div> 
                        <input name="name" type="text" class="form-group__control" placeholder="Họ và tên" id="name"  [(ngModel)]="userSignUp.hoTen">
                    </div>
                    
                </div>
                
                <span class="form-gourp__mesage"></span>
            </div>

            <div class="form-group">
                <label class="form-group__label" for="email">Số điện thoại</label>
                <input name="email" type="text" class="form-group__control" autocomplete="new-password" placeholder="Nhập số điện thoại" id="numberphone" [(ngModel)]="userSignUp.sdt">
                <span class="form-gourp__mesage"></span>
            </div>


            <div class="form-group">
                <label class="form-group__label" for="email">Email</label>
                <input name="email" type="email" class="form-group__control" autocomplete="new-password" placeholder="Nhập Email" id="email" [(ngModel)]="userSignUp.email">
                <span class="form-gourp__mesage"></span>
            </div>

            <div class="form-group">
                <label class="form-group__label" for="pass">Mật khẩu</label>
                <input name="password" type="password" class="form-group__control" autocomplete="new-password" placeholder="Nhập mật khẩu" id="pass" [(ngModel)]="userSignUp.matKhau">
                <span class="form-gourp__mesage"></span>
            </div>

            <div class="form-group">
                <label class="form-group__label" for="confirm-pass">Nhập lại mật khẩu</label>
                <input name="confirmpass" type="password" class="form-group__control" autocomplete="new-password" placeholder="Nhập lại mật khẩu" id="confirm-pass">
                <span class="form-gourp__mesage"></span>
            </div>

            <button class="form-submit" (click)="clickDangKy()">Đăng kí</button>
        </form>
    </div>
    
    
  </div>
   <!-- end frm Đăng ký -->
    </div>
   
</div>
