

<div class="col-md-12 bg-white" *ngIf="isDisplay">
    <div class="row">
        <div class="col-md-6">Thông tin giao hàng 
            <form>
                <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label">Họ và tên</label>
                    <div class="col-sm-10">
                        <!-- <input class="form-control" name="name" type="text" placeholder="Họ và tên người nhận" value="{{user.hoTen}}" > -->
                        <input class="form-control" name="name" type="text" placeholder="Họ và tên người nhận" [(ngModel)]="tenNguoiNhan" >
                    </div>

                </div>
                <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10"> 
                        <!-- <input  class="form-control" name="email" type="text" placeholder="Email liên hệ" value="{{user.email}}"> -->
                         <input  class="form-control" name="email" type="text" placeholder="Email liên hệ" [(ngModel)] ="email">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label">Điện thoại</label>
                    <div class="col-sm-10">
                        <!-- <input class="form-control" name="numberphone" type="text" placeholder="Số điện thoại liên hệ" value="{{user.sdt}}"> -->
                        <input class="form-control" name="numberphone" type="text" placeholder="Số điện thoại liên hệ" [(ngModel)]="sdt">
                    </div>
                   
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label">Số nhà </label>
                    <div class="col-sm-10">
                        <!-- <input  class="form-control" name="hourse" type="text" placeholder="Nhập số nhà" value="{{soNha}}"> -->
                        <input  class="form-control" name="hourse" type="text" placeholder="Nhập số nhà" [(ngModel)]="soNha">
                    </div>
                </div>
            
                <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label">Quận/Huyện</label>
                    <div class="col-sm-10">
                        <!-- <input  class="form-control" type="text" placeholder="Nhập quận/ huyện" value="{{quan}}"> -->
                        <input  class="form-control" name="district" type="text" placeholder="Nhập quận/ huyện" [(ngModel)]="quan">
                    </div>
                </div>
            
                <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label">Tỉnh/ Thành phố</label>
                    <div class="col-sm-10">
                        <!-- <input class="form-control" type="text" placeholder="Nhập tỉnh/ thành phố" value="{{tinh}}"> -->
                        <input class="form-control" name="city" type="text" placeholder="Nhập tỉnh/ thành phố" [(ngModel)]="tinh">
                    </div>
                </div>
                
            </form>
            <button class="btn btn-success" (click)="openConfrirmOrder()"> Đặt hàng</button>
        </div>

        <div class="col-md-6">
            <table class="table">
            <thead>
                <th>Sản phẩm </th>
                <th>Đơn giá</th>
                <th>Số lượng</th>
                <th>Tạm tính</th>
            </thead>
            <tbody>
                <tr *ngFor="let i of listItemCart">
                    <td>{{i.tensp}} </td>
                    <td>{{i.giasp|number: '1.0-0'}} </td>
                    <td> {{i.soluong}}</td>
                    <td> {{i.soluong * i.giasp |number: '1.0-0'}}</td>
                 </tr>
            </tbody>
            <tfoot >
                <tr > 
                    <td></td>
                    <td></td>
                    <td>Tổng tiền:</td>
                   <td>{{sumCost| number: '1.0-0'}}</td>
                </tr>
            </tfoot>
          </table> 
        </div>
       
    </div>
  
</div>

<div *ngIf="!isDisplay">
     <!-- <p>Đặt hàng thành công</p> -->
    <app-chitietdonhang [idOrder]="idNewOrder"></app-chitietdonhang>
</div>

