<div class="row" >
    <div class="col-md-12">
       
         <div class="group-option"> 
            <div class="parent-option" (click)="manageOrder()"> <i class="bi bi-brightness-high"></i> Quản lý đơn hàng </div>    
        </div>

        <div class="group-option" >
            <div class="parent-option" id="parent"> <i class="bi bi-brightness-high"></i> Quản lý hàng hóa </div>   
            <div class="group-child-option"> 
                <div class="child-option" (click)="manageProduct()">Quản lý sản phẩm </div>
                <div class="child-option" (click)="manageCategoey()">Quản lý danh mục </div>
            </div> 
        </div>

        <div class="group-option">
            <div class="parent-option">Thống kê doanh thu</div>
        </div>

        <div class="group-option"> 
            <div class="parent-option">Quản lý khách hành</div>
        </div>
        <div class="group-option">
            <div class="parent-option"> Đăng xuất </div>
        </div> 
    </div>
</div>

<script> 
    // var element = document.getElementById("parent");

</script>
