/* img{
    width: 50px;
    height: 50px;
}

.group-list-product{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    flex-wrap: wrap;
}
.item-product{
    width: 30%;
}

.content-product{
    position: relative;
}
.icon-new-product{
    position: absolute;
    top: -5px;
    left: 0px;
    color: #e31313 ;
  
} */

img{
    width: 200px;
    /* height: 50px; */
}

.group-product{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-top: 20px;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    /* gap: 20px; */
}
.item-product-best-saler{
    width: 30%;
    max-width: 350px;
}
.pd-l-10{
    padding-left: 20px;
}

.group-detailts-product{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.group-detailts-product:hover{
    border: 1px solid red
}

.color-red{
    /* color: rgb(132, 1, 1); */
    font-weight: 600;
    font-size: 18px;
    text-align: center;
}